body, html {
    
    font-family: "Rubik", sans-serif;
    
    
}

.banner{
    position: relative;
    
}

.bannerov{
    text-align: center;
    position: absolute;
    z-index: 0;
    width: 100%;
    padding-top: 0em;
}

.profilepic{
    width: 28%;
    padding-bottom: 1.2em;
    animation-name: fade;
    animation-duration: 2s;
    
}

@keyframes fade{
    0%{opacity: 0;
        }
    25%{opacity: 0;
        }
    100%{opacity: 100;}
}

.content{
    margin: auto;
    padding: auto;
    align-content: center;
    width: 80%;
    max-width: 1000px;
}

/* Skill Bar Tutorial from w3schools
    https://www.w3schools.com/howto/howto_css_skill_bar.asp */

    *{box-sizing:content-box}
    
    .container{
        
       
    }
    
    .skills {
        text-align: right;
        padding-top: 10px;
        padding-bottom: 10px;
        
    }
    @keyframes expand40{
        0%{width: 0%;}
        100%{width: 40%;}
    }
@keyframes expand50{
        0%{width: 0%;}
        100%{width: 50%;}
    }
    @keyframes expand60{
        0%{width: 0%;}
        100%{width: 60%;}
    }
    @keyframes expand70{
            0%{width: 0%;}
            100%{width: 70%;}
        }
    @keyframes expand80{
            0%{width: 0%;}
            100%{width: 80%;}
        }
    @keyframes expand90{
            0%{width: 0%;}
            100%{width: 90%;}
        }
    @keyframes expand100{
            0%{width: 0%;}
            100%{width: 100%;}
        }


    .w50 {
        width: 50%;
        animation-name: expand50;
        animation-duration: 5s;
    }

    .w60 {
        width: 60%;
        animation-name: expand60;
        animation-duration: 5s;
    }

    .w70 {
        width: 70%;
        animation-name: expand70;
        animation-duration: 5s;
    }

    .wyellow{
        background-color: #fbc93d;
    }

    .wblue{
        background-color: #6cc0e5;
    }

    .worange{
        background-color: #ff7034;
    }

    .wred{
        background-color: #fb4f4f;
    }

    .w80 {
        width: 80%;
        animation-name: expand80;
        animation-duration: 5s;
    }

    .w90 {
        width: 90%;
        animation-name: expand90;
        animation-duration: 5s;
    }

    .w100 {
        width: 100%;
        animation-name: expand100;
        animation-duration: 5s;
    }

    .cpp {
        width: 70%; 
        background-color: #fbc93d;
        animation-name: expand70;
        animation-duration: 5s;
    }
    .psd {
        width: 90%; 
        background-color: #6cc0e5;
        animation-name: expand90;
        animation-duration: 5s;
}
    .sql {
        width: 40%; 
        background-color: #fbc93d;
        animation-name: expand40;
        animation-duration: 5s;
}
    .indd {
        width: 90%; 
        background-color: #ff7034;
        animation-name: expand90;
        animation-duration: 5s;
}
    .java {
        width: 70%; 
        background-color: #fb4f4f;
        animation-name: expand70;
        animation-duration: 5s;   
}
    .ill {
        width: 80%; 
        background-color: #fb4f4f;
        animation-name: expand80;
        animation-duration: 5s;   
}

    .webd {
        width: 60%; 
        background-color: #fb4f4f;
        animation-name: expand60;
        animation-duration: 5s;   
}


.sec{
    margin-bottom: 3em;
}

.rtitle{
    font-size: 30pt;
    padding: 1em;
    text-align: center;
}

.titleh{
   
    font-size: 108%;
    margin-bottom: .5em;
}
.subtitle{
    padding: -1em;
    margin: 0.2em 1em 0.2em 1em;
    color: #333232;
}